*{
    box-sizing: border-box;
    padding: 0;
    margin: 20;
}

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$white: hsl(0,0%,100%);
$font-weights: (
    "regular": 500,
    "medium": 700,
    "bold": 900,
);

@mixin flexCenter($direction){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@function weight($a){
    @return map-get($font-weights, $a);
}


@mixin transition{
    transition: all ease-in-out 0.3s;
}

@mixin media-sm{
    @media screen and (max-width: 415px) {
        @content;
    }
}

@mixin media-md{
    @media screen and (min-width: 416px) {
        @content;
    }
}

@mixin media-lg{
    @media screen and (min-width: 1440px) {
        @content;
    }
}