@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import './config';
@import './responsive';


body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: $pale-blue;
    margin: 0;
}

main{
    @include flexCenter(row);
    min-height: 100vh;  
    background: url(../images/pattern-background-mobile.svg);
    background-size:initial;
    background-repeat: no-repeat;

    .card{
        border-radius: 20px;
        background-color: $white;
        text-align: center;
        overflow: hidden;
        margin: 1px;

        &__top{
            height: 160px;
            background-image: url(../images/illustration-hero.svg);
            background-size: cover;
            background-position: center;
        }

        &__bottom{
            padding: 20px;

            h2{
                color: $dark-blue;
                font-weight: weight(bold);
            }

            p{
                margin: 10px auto;
                line-height: 1.5rem;
                width: 90%;
                color: $desaturated-blue;
                font-weight: weight(regular);
                padding-bottom: 15px;
            }

            .wrapper{
                background-color: $very-pale-blue;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                margin-bottom: 25px;

                img{
                    width: 45px;
                }

                .text{
                    text-align: left;
                    width: 55%;
                    display: flex;
                    flex-direction: column;

                    &-top{
                        color: $dark-blue;
                        font-weight: weight(bold);
                        margin: 2px 0;
                    }

                    &-bottom{
                        color: $desaturated-blue;
                        margin: 2px 0;
                    }
                }

                a{
                    font-size: 0.9rem;
                    color: $bright-blue;
                    font-weight: weight(bold);
                    
                    
                    &:hover{
                        text-decoration: none;
                        color: lighten($bright-blue, 20%);
                    }
                }

            }

            #btn1{
                width: 100%;
                padding: 14px;
                background-color: $bright-blue;
                border: none;
                border-radius: 10px;
                color: $white;
                font-weight: weight(bold);
                margin-bottom: 10px;
                box-shadow: 0px 25px 25px $very-pale-blue;
                cursor: pointer;

                &:hover{
                    background-color: lighten($bright-blue, 20%);
                }
            }

            #btn2{
                background-color: transparent;
                border: none;
                color: $desaturated-blue;
                font-weight: weight(bold);
                margin: 10px;
                cursor: pointer;

                &:hover{
                    color: $dark-blue
                }
            }
        }
    }    
}
